@font-face {
    font-family: "Ruda-Medium";
    src: url(../storage/fonts/Ruda/Ruda-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../storage/fonts/Poppins/Poppins-Medium.ttf);
}